/* Estilos gerais para o dashboard */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para o cabeçalho */
.header {
  width: 100%;
  padding: 10px 20px;
  background-color: #f4f4f9;
  display: flex;
  justify-content: space-between; /* Espaço entre logo e botão */
  align-items: center;
  position: fixed; /* Mantém o cabeçalho fixo no topo */
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Garante que o cabeçalho esteja acima de outros elementos */
}

/* Estilo da logo */
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  height: 110px;
  object-fit: contain;
}

/* Estilo do botão de logout */
.header button {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 50px;
}

.header button:hover {
  background: #c0392b;
}

/* Ajuste para o container principal */
.container {
  margin-top: 100px; /* Espaço para o cabeçalho fixo */
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Formulário */
form input,
form textarea,
form button {
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

form textarea {
  resize: none;
  height: 100px;
}

form button {
  background: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background: #0056b3;
}

/* Mensagem de feedback */
#news-message {
  font-size: 14px;
  margin-top: 10px;
  color: #28a745; /* Verde para sucesso */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .header button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
